<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>tutorial</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>idFilter</display-name>
    <filter-name>idFilter</filter-name>
    <filter-class>com.ronnie5562.idFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>idFilter</filter-name>
    <url-pattern>/addAlien</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>nameFilter</display-name>
    <filter-name>nameFilter</filter-name>
    <filter-class>com.ronnie5562.nameFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>nameFilter</filter-name>
    <url-pattern>/addAlien</url-pattern>
  </filter-mapping>
</web-app>