<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="w3.org/2001/XMLSchema-instance" xmlns="xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="xmlns.jcp.org/xml/ns/javaee xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<display-name>User Management System</display-name>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
	
	<servlet>
	    <servlet-name>YourServlet</servlet-name>
	    <servlet-class>com.starboy.usermanagement.web.UserServlet</servlet-class>
  	</servlet>

	<servlet-mapping>
		 <servlet-name>YourServlet</servlet-name>
		 <url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>