<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">

<servlet>
	<servlet-name>addition</servlet-name>
	<servlet-class>com.ronnie5562.AddServlet</servlet-class>
</servlet>


<servlet-mapping>
	<servlet-name>addition</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>squaring</servlet-name>
	<servlet-class>com.ronnie5562.SqServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>squaring</servlet-name>
	<url-pattern>/square</url-pattern>
</servlet-mapping>

</web-app>